# Módulo: Configuración de entorno
# Responsable: Javier Andrés Monjes Solórzano — 202100081
# Rama: feature/ingesta-usac
# Tarea: F2-01

# Servidor
PORT=3000
NODE_ENV=development

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=prccd_db
DB_USER=prccd_user
DB_PASSWORD=prccd_pass

# MongoDB
MONGO_URI=mongodb://mongo:27017/prccd_docs

# MinIO
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=evidencias

# JWT (mock auth — en producción usar Keycloak)
JWT_SECRET=prccd_secret_2026
